<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/档期一览.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">
<div class="hh">
    <div class="con2">
        <span>档期一览</span>
    </div>


    <div class="tup">
        <span>档期分类</span>
        <select>
            <option></option>
        </select>


        <span>选择时间</span>
        <select>
            <option>2015-01-28至2030-01-28</option>
        </select>
        <button>查询</button>
        <button>下载</button>


        <table cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
                <td>订单名称</td>
                <td>订单名称</td>
                <td>订单名称</td>
                <td>订单名称</td>
                <td>订单名称</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1997-01-28星期一</td>
                <td>杭州西湖</td>
                <td>12</td>
                <td>2</td>
                <td>10</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1997-01-28星期一</td>
                <td>杭州西湖</td>
                <td>12</td>
                <td>2</td>
                <td>10</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1997-01-28星期一</td>
                <td>杭州西湖</td>
                <td>12</td>
                <td>2</td>
                <td>10</td>
            </tr>
        </table>
    </div>
</div>



</div>
</body>
<script src=""></script>
</html>