<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/客片管理2.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">
<div class="hh">
    <div class="con2">
        <span>客片管理</span>
        <button>上传照片</button>
    </div>

    <div class="tup">

        <div class="ddh">
            <span class="hao">订单号:</span>
            <span>10010</span>

            <span class="hao">订单号:</span>
            <span>10010</span>


            <span class="hao">订单号:</span>
            <span>10010</span>


            <span class="hao">订单号:</span>
            <span>10010</span>

            <span class="hao">订单号:</span>
            <span>10010</span>

            <button>再次发送</button>
        </div>
        <ul>
            <li><img src="images/kepian/客片管理_24.jpg" alt=""></li>
            <li><img src="images/kepian/客片管理_26.jpg" alt=""></li>
            <li><img src="images/kepian/客片管理_28.jpg" alt=""></li>
            <li><img src="images/kepian/客片管理_30.jpg" alt=""></li>
        </ul>
        <ul>
            <li><img src="images/kepian/客片管理_43.jpg" alt=""></li>
            <li><img src="images/kepian/客片管理_44.jpg" alt=""></li>
            <li><img src="images/kepian/客片管理_45.jpg" alt=""></li>
            <li><img src="images/kepian/客片管理_46.jpg" alt=""></li>
        </ul>


    </div>
</div>



</div>
</body>
<script src=""></script>
</html>