<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/潜客管理.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">


<div class="hh">
    <div class="con2">
        <span>指定排期</span>
    </div>


    <div class="tup">
        <div class="qianke">
            <ul>
                <li>潜客手机</li>
                <li>潜客手机</li>
                <li>潜客手机</li>
                <li>潜客手机</li>
                <li>潜客手机</li>
                <li>潜客手机</li>
            </ul>
        </div>
    </div>
</div>

</div>
</body>
<script src=""></script>
</html>