<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/商家作品.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">
    <div class="hh">
        <div class="con2">
            <span>服务管理</span>
            <button>发布作品</button>
            <ul>
                <li>婚纱摄影</li>
                <li>婚纱旅游</li>
            </ul>

        </div>


        <div class="tup">

            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>名称</td>
                    <td>拍摄地点</td>
                    <td>拍摄场景</td>
                    <td>造型特色</td>
                    <td>起拍价</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>Along</td>
                    <td>三亚</td>
                    <td>婚纱</td>
                    <td>3333</td>
                    <td>20150128</td>
                    <td><span style="color: #ff6677">编辑</span>|删除</td>
                </tr>
                <tr>
                    <td>Along</td>
                    <td>三亚</td>
                    <td>婚纱</td>
                    <td>3333</td>
                    <td>20150128</td>
                    <td><span style="color: #ff6677">编辑</span>|删除</td>
                </tr>
                <tr>
                    <td>Along</td>
                    <td>三亚</td>
                    <td>婚纱</td>
                    <td>3333</td>
                    <td>20150128</td>
                    <td><span style="color: #ff6677">编辑</span>|删除</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<script src=""></script>
</html>