<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/上传作品1.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">
    <div class="hh">
        <div class="con2">
            <span>上传作品</span>
        </div>


        <div class="tup">
            <span class="pan">类型</span>
            <input type="radio" name="X">
            <span>婚纱摄影</span>
            <input type="radio" name="X">
            <span>旅游婚纱</span>
            <br>
            <span class="pan">名称</span>
            <input type="text">
            <br>
            <span class="pan">风格</span>
            <button>韩式</button>
            <button>即时风</button>
            <button>恩？</button>
            <button>耶~</button>
            <button>过山车</button>
            <button>爱你</button>
            <button>婚纱</button>
            <button>时风</button>
            <br>
            <span class="pan">拍摄场景</span>
            <span>内景</span>
            <button>即时风</button>
            <button>恩？</button>
            <button>耶~</button>
            <button>过山车</button>
            <button>爱你</button>
            <button>婚纱</button>
            <button>时风</button>
            <br>
            &nbsp;&nbsp;
            <span class="wj">外景</span>
            <button>即时风</button>
            <button>恩？</button>
            <button>耶~</button>
            <button>过山车</button>
            <button>爱你</button>
            <button>婚纱</button>
            <button>时风</button>
            <br>
            <span class="pan">造型特色</span>
            <input type="checkbox"><span>显瘦</span>
            <input type="checkbox"><span>显脸小</span>
            <input type="checkbox"><span>显腿长</span>
            <input type="checkbox"><span>显腰细</span>
            <input type="checkbox"><span>不挑人</span>
            <br>
            <span class="pan">起拍价</span>
            <input type="text">
            <br>
            <span class="pan">描述</span>
            <textarea></textarea><br>
            <span class="pan">封面图</span>
            <div class="logo"></div>
            <div class="tj">
                <button>添加图片</button>
                <br>
                <span>1.啊市里多撒立刻打开就散了</span><br>
                <span>2.杀了看到你撒看到那上课</span><br>
            </div>
            <br>

            <button class="ttt">提交</button>
        </div>
    </div>

</div>
</body>
<script src=""></script>
</html>