<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/商户信息.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">
    <div class="hh">
        <div class="con2">
            <span>客片管理</span>
        </div>


        <div class="tup">
            <span>公司名称:</span>
            <input type="text"><br>
            <span>地址:</span>
            <select>
                <option>111</option>
            </select>
            <select>
                <option>222</option>
            </select>
            <select>
                <option>333</option>
            </select><br>
            <span>QQ:</span>
            <input type="text"><br>
            <span>邮箱:</span>
            <input type="text"><br>
            <span>详细地址:</span>
            <input type="text"><br>
            <span>联系人:</span>
            <input type="text"><br>
            <span>联系电话:</span>
            <input type="text"><br>
            <span>描述</span>
            <textarea></textarea><br>
            <span>公司LOGO</span>
            <div class="logo"></div>
            <div class="tj">
                <button>添加图片</button>
                <br>
                <span>1.啊市里多撒立刻打开就散了</span><br>
                <span>2.杀了看到你撒看到那上课</span><br>
            </div>
            <br>

            <button style="color: #fff">提交</button>
        </div>
    </div>




</div>
</body>
<script src=""></script>
</html>