<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/所有订单.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">
    <div class="hh">
        <div class="con2">
            <span>服务管理</span>
            <button>添加订单</button>
        </div>


        <div class="tup">

            <select>
                <option>2015-01-28至2030-01-28</option>
            </select>

            <input type="text" placeholder="请输入订单号/手机号">
            <label>搜索</label>

            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>订单名称</td>
                    <td>订单名称</td>
                    <td>订单名称</td>
                    <td>订单名称</td>
                    <td>订单名称</td>
                    <td>订单名称</td>
                    <td>订单名称</td>
                    <td>备注</td>
                    <td>订单名称</td>
                </tr>
                <tr>
                    <td>10010</td>
                    <td>Along</td>
                    <td>13513370128</td>
                    <td>婚纱</td>
                    <td>3333</td>
                    <td>2015-01-28</td>
                    <td>已完成</td>
                    <td></td>
                    <td><span style="color: #0aba07">修改</span>|<span>排期</span>|<span style="color: #ff6677">删除</span></td>
                </tr>
                <tr>
                    <td>10010</td>
                    <td>Along</td>
                    <td>13513370128</td>
                    <td>婚纱</td>
                    <td>3333</td>
                    <td>2015-01-28</td>
                    <td>已完成</td>
                    <td>重要客户必须通知到位切记</td>
                    <td><span style="color: #0aba07">修改</span>|<span>排期</span>|<span style="color: #ff6677">删除</span></td>
                </tr>
                <tr>
                    <td>10010</td>
                    <td>Along</td>
                    <td>13513370128</td>
                    <td>婚纱</td>
                    <td>3333</td>
                    <td>2015-01-28</td>
                    <td>已完成</td>
                    <td></td>
                    <td><span style="color: #0aba07">修改</span>|<span>排期</span>|<span style="color: #ff6677">删除</span></td>
                </tr>
            </table>
        </div>
    </div>



</div>
</body>
<script src=""></script>
</html>