<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/添加订单.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">


<div class="hh">
    <div class="con2">
        <span>客片管理</span>
    </div>


    <div class="tup">
        <span class="ppp">订单类型</span>
        <input type="radio" name="z">
        <span>婚纱</span>
        <input type="radio" name="z">
        <span>孕妇</span>
        <input type="radio" name="z">
        <span>写真</span>
        <input type="radio" name="z">
        <span>其它</span>
        <br>
        <span class="ppp">新娘</span>
        <input type="text" placeholder="姓名" class="xm">
        <input type="text" placeholder="手机号" class="sj">
        <select class="xm">
            <option></option>
        </select>
        <br>
        <span class="ppp">新郎</span>
        <input type="text" placeholder="姓名" class="xm">
        <input type="text" placeholder="手机号" class="sj">
        <select class="xm">
            <option></option>
        </select>
        <br>
        <span class="ppp">订单号</span>
        <input type="text" class="sj">
        <br>
        <span class="ppp">订单时间</span>
        <input type="text" class="xm">
        <br>
        <span class="ppp">订单金额</span>
        <input type="text" class="xm">
        <br>
        <span class="ppp">预付定金</span>
        <input type="text" class="xm">
        <br>
        <span class="ppp">接单人</span>
        <input type="text" placeholder="选择接单人" class="jd">
        <br>
        <span class="ppp">备注</span>
        <textarea></textarea>
        <div class="bz">
            <button>提交</button>
            <button>备注</button>
        </div>
    </div>
</div>



</div>
</body>
<script src=""></script>
</html>