<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/已退单.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">

<div class="hh">

    <div class="con2">
        <span>服务管理</span>
        <button>添加订单</button>
    </div>


    <div class="tup">

        <select>
            <option>2015-01-28至2030-01-28</option>
        </select>

        <input type="text" placeholder="请输入订单号/手机号">
        <label>搜索</label>

        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>订单号码</td>
                <td>客户姓名</td>
                <td>客户手机</td>
                <td>订单类型</td>
                <td>订单余额</td>
                <td>订单时间</td>
                <td>状态</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>10010</td>
                <td>Along</td>
                <td>13513370128</td>
                <td>婚纱</td>
                <td>3333</td>
                <td>2015-01-28</td>
                <td>已退单</td>
                <td></td>
            </tr>
            <tr>
                <td>10010</td>
                <td>Along</td>
                <td>13513370128</td>
                <td>婚纱</td>
                <td>3333</td>
                <td>2015-01-28</td>
                <td>已退单</td>
                <td></td>
            </tr>
            <tr>
                <td>10010</td>
                <td>Along</td>
                <td>13513370128</td>
                <td>婚纱</td>
                <td>3333</td>
                <td>2015-01-28</td>
                <td>已退单</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

</div>
</body>
<script src=""></script>
</html>