<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/用户管理1.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">


<div class="hh">
    <div class="con2">
        <span>服务管理</span>
        <button>添加订单</button>
    </div>


    <div class="tup">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>昵称</td>
                <td>手机号</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>Along</td>
                <td>13513370128</td>
                <td><span style="color: #0aba07">修改</span>|<span>排期</span>|<span style="color: #ff6677">删除</span></td>
            </tr>
            <tr>
                <td>Along</td>
                <td>13513370128</td>
                <td><span style="color: #0aba07">修改</span>|<span>排期</span>|<span style="color: #ff6677">删除</span></td>
            </tr>
            <tr>
                <td>Along</td>
                <td>13513370128</td>
                <td><span style="color: #0aba07">修改</span>|<span>排期</span>|<span style="color: #ff6677">删除</span></td>
            </tr>
        </table>
    </div>
</div>



</div>
</body>
<script src=""></script>
</html>