<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/用户管理2.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">


<div class="hh">
    <div class="con2">
        <span>添加新成员</span>
    </div>


    <div class="tup">
        <span class="nnn">手机号</span>
        <input type="text">
        <br>
        <span class="nnn">密码</span>
        <input type="text">
        <br>
        <span class="nnn">确认密码</span>
        <input type="text">
        <br>
        <span class="nnn">昵称</span>
        <input type="text">
        <br>
        <span class="nnn">权限设置</span>
        <input type="checkbox" style="margin-left: 0"><span>全选</span>
        <br>
        <div class="qx">
            <span class="aaa">服务管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
            <span class="aaa">客片管理</span>
            <input type="checkbox"><span>服务查看</span>
            <input type="checkbox"><span>增删改</span>
            <input type="checkbox"><span>排期</span>
            <br>
        </div>

        <div class="tq">
            <button>添加</button>
            <button>取消</button>
        </div>
    </div>
</div>



</div>
</body>
<script src=""></script>
</html>