<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/指定排期.css">
</head>
<body bgcolor="#f3f3f3">


<div class="con">

<div class="hh">
    <div class="con2">
        <span>指定排期</span>
    </div>


    <div class="tup">

        <ul>
            <li><span class="span1">订单号码:</span><span>10010</span></li>
            <li><span class="span1">客户姓名:</span><span>13513370128</span></li>
            <li><span class="span1">订单号码:</span><span>10010</span></li>
        </ul>
        <br>

        <ul>
            <li><span class="span1">订单号码:</span><span>10010</span></li>
            <li><span class="span1">客户姓名:</span><span>13513370128</span></li>
            <li><span class="span1">订单时间:</span><span>1997-01-28</span></li>
        </ul>
        <br>
        <div class="shiyi">
            <span>试衣</span>|
            <span>摄影</span>|
            <span>选片</span>|
            <span>定稿</span>|
            <span>取件</span>
        </div>


        <div class="riqi">
            <span>日期</span>
            <select>
                <option></option>
            </select>
            <br>
            <span>服务人员</span>
            <input type="text" placeholder="选择礼服师">
            <br>
            <span>服务人员</span>
            <select>
                <option></option>
            </select>
            <br>
            <span class="fw">服务人员</span>
            <textarea></textarea>
        </div>

        <div class="tongzhi">
            <button>通知</button>
            <span>已通知两次</span>
        </div>
    </div>
</div>


</div>
</body>
<script src=""></script>
</html>