@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}


.con {
  padding: 30px 80px 30px 80px;
  .hh{
    bottom: 60px;
    left: 241px;
    width: 948px;
    position: absolute;

    .con2 {
      position: absolute;
      bottom: 722px;
      width: 948px;
      height: 77px;
      background: #fff;
      border-bottom: 1px solid #f3f3f3;
      float: right;
      span {
        line-height: 77px;
        margin-left: 30px;
      }

      button{
        width: 100px;
        height: 40px;
        background: #FF6577;
        border-radius:5px;
        border: none;
        color: #fff;
        margin-left: 700px;
      }

    }
    .tup {
      width: 918px;
      height: 692px;
      float: right;
      background: #fff;
      margin-top: -722px;
      padding-top: 30px;
      padding-right: 15px;
      padding-left: 15px;
      span{
        margin-right: 15px;
        margin-left:14px ;
      }
      button{
        width: 40px;
        height: 30px;
        border: 1px solid #F5F5F5;
        background: #fff;
        border-radius: 5px;
      }
      select{
        border: 1px solid #F5F5F5;
        background: #fff;
        border-radius: 5px;
        height: 30px;
      }

      input{
        width: 320px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #f3f3f3;
        padding-left: 10px;
      }
      label{
        width: 30px;
        height: 30px;
        font-size: 15px;
        border: 1px solid #f3f3f3;
        display: inline-block;
        line-height: 30px;
        border-radius: 0 5px 5px 0;
        margin-left: -10px;
        background: #fff;
      }
      table{
        font-size: 14px;
        width: 900px;
        height: 220px;
        margin-top: 30px;
        border: 1px solid #F5F5F5;
        td{
          border: 1px solid #F5F5F5;
          text-align: center;
        }
      }
    }
  }


}